TASK 1:

In [ ]:
l1=[1,2,3,4,5]
l2=[4,5,6,7,8]

In [ ]:
l3=l1+l2

In [ ]:
l3

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8]

TASK 2:

In [ ]:
print(*[i for i in l3 if i%2==0])

2 4 4 6 8

TASK 3:

In [ ]:
d={
    "k1":[1,2],
    "k2":[3,4],
    "k3":[5,6]
}
print(d)

{'k1': [1, 2], 'k2': [3, 4], 'k3': [5, 6]}

TASK 4:

In [ ]:
def odd(l):
  t=[]
  for i in l:
    if i&1:
      t.append(i)
  return t
print(*odd(l3))

1 3 5 5 7

TASK 5:

In [ ]:
sum(l3)

45